<footer class="footer">
    <div class="content has-text-centered styled-footer-container">
        <div>
            <a class="footer-link footer-link-color" routerLink="">Home</a>
            <a class="footer-link footer-link-color" routerLink="learn">Learn More</a>
            <a class="footer-link footer-link-color" routerLink="about">About Us</a>
        </div>
    </div>
    <p class="footer-slogan footer-link-color footer-title-starter">
        &copy; 2020
        <strong class="footer-title footer-link-color">webJect </strong>
        <small>web code injection</small>
    </p>
</footer>